[Unit]
Description=Startup Open Home Player
#Wants=multi-user.target
#After=graphical.target network.target sound.target
#Requires=sound.target
#
#After=network-online.target sound.target multi-user.target graphical.target graphical-session.target
#Wants=network-online.target sound.target multi-user.target graphical.target graphical-session.target
After=network-online.target sound.target
Wants=network-online.target sound.target 


[Service]
ExecStartPre=/bin/sleep 10
ExecStart=openhome-player
#StandardOutput=null
User=jean
Type=simple
#Restart=always
#KillSignal=SIGINT

#[Install]
#WantedBy=multi-user.target

